@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,600&display=swap");

.notesPageSidebar {
  width: 300px;
  background-color: rgb(222, 187, 255);
  color: white;
  border-radius: 10px;
  float: left;
  margin-top: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14pt;
}
