@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,400;1,600&display=swap");

.header {
  height: 230px;
  width: 900px;
  margin: auto;
  color: rgb(153, 74, 255);
  background-color: aquamarine;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 30pt;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

a:visited {
  color: rgb(153, 74, 255);
}
