.listOfNotes {
  margin-top: 30px;
  margin-bottom: 30px;
}

.addNoteButton {
  background-color: transparent;
  color: white;
  border: solid yellow 1px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16pt;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
