@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,600&display=swap");

.addNoteForm {
  width: 900px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(255, 247, 99);
}

#addNoteSubmitButton {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 14pt;
}
